[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
[submodule "meta-rockchip"]
	path = meta-rockchip
	url = https://github.com/JeffyCN/meta-rockchip
